In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv('Address Elements Extraction Dataset/train.csv')
df_test = pd.read_csv('Address Elements Extraction Dataset/test.csv')
df_test.head()

   id                                    raw_address
0   0          s. par 53 sidanegara 4 cilacap tengah
1   1          angg per, baloi indah kel. lubuk baja
2   2                          asma laun, mand imog,
3   3  ud agung rej, raya nga sri wedari karanganyar
4   4                     cut mutia, 35 baiturrahman

In [3]:
df[['POI', 'street']] = df['POI/street'].str.split('/', 1, expand=True)
df['POI/street'].replace('/', np.nan, inplace=True)
df['POI'].replace('', np.nan, inplace=True)
df['street'].replace('', np.nan, inplace=True)
df.head()

,id,raw_address,POI/street,POI,street
0,0,jl kapuk timur delta sili iii lippo cika 11 a ...,/jl kapuk timur delta sili iii lippo cika,NaN,jl kapuk timur delta sili iii lippo cika
1,1,"aye, jati sampurna",NaN,NaN,NaN
2,2,setu siung 119 rt 5 1 13880 cipayung,/siung,NaN,siung
3,3,"toko dita, kertosono",toko dita/,toko dita,NaN
4,4,jl. orde baru,/jl. orde baru,NaN,jl. orde baru

In [5]:
def missing_value_of_data(data):
    total = data.isnull().sum().sort_values(ascending=False)
    percentage = round(total/data.shape[0]*100,2)
    return pd.concat([total,percentage], axis=1, keys=['Total','Percentage'])
missing_value_of_data(df)

              Total  Percentage
POI          178509       59.50
street        70143       23.38
POI/street    31993       10.66
raw_address       0        0.00
id                0        0.00

In [6]:
def duplicated_values_data(data):
    dup=[]
    columns=data.columns
    for i in data.columns:
        dup.append(sum(data[i].duplicated()))
    return pd.concat([pd.Series(columns),pd.Series(dup)],axis=1,keys=['Columns','Duplicate count'])
df_cleaned = df.dropna()
duplicated_values_data(df_cleaned)

       Columns  Duplicate count
0           id                0
1  raw_address                0
2   POI/street             4065
3          POI            12422
4       street            50254

In [7]:
print(len(df['POI'].unique()))
print(len(df['street'].unique()))

93412
95123

In [8]:
df['POI'].value_counts()

perumahan wahana       339
palm spring regency    202
indomaret              193
lebak jero             187
toko kelontong         186
                      ...
ud parmi                 1
jembatan deli            1
sate madura bu siti      1
didi gorden              1
dinas dalduk dan kb      1
Name: POI, Length: 93411, dtype: int64

In [9]:
df['street'].value_counts()

jend sudi              1097
ahmad yani              877
jend ahmad yani         618
gajah mada              471
pem                     463
                       ...
margo gg kober            1
cem b                     1
kusen ii                  1
vila mas muti             1
tebet timur dalam 9       1
Name: street, Length: 95122, dtype: int64

In [50]:
filter_df = df.dropna(subset=['street'])
filter_df = filter_df.dropna(subset=['POI'])

(229857, 5)
(83341, 5)

In [11]:
filter_df['POI'].value_counts()

indomaret                  174
alfamart                   169
toko kelontong             167
green bay                  147
bank rakyat indonesia      144
                          ...
king water                   1
sgc 2                        1
new cahaya photo studio      1
toko aziz                    1
masjid al jumhuriyah         1
Name: POI, Length: 70919, dtype: int64

In [12]:
filter_df['street'].value_counts()

jend sudi                  625
ahmad yani                 531
jend ahmad yani            394
gajah mada                 310
soek hatta                 245
                          ...
kerto menan viii             1
jl ahmad marzuki             1
kebon jeruk indah utama      1
jl boule barat raya          1
dukuh pakis                  1
Name: street, Length: 33087, dtype: int64

In [57]:
df.head()

,id,raw_address,POI/street,POI,street
0,0,jl kapuk timur delta sili iii lippo cika 11 a ...,/jl kapuk timur delta sili iii lippo cika,NaN,jl kapuk timur delta sili iii lippo cika
1,1,"aye, jati sampurna",NaN,NaN,NaN
2,2,setu siung 119 rt 5 1 13880 cipayung,/siung,NaN,siung
3,3,"toko dita, kertosono",toko dita/,toko dita,NaN
4,4,jl. orde baru,/jl. orde baru,NaN,jl. orde baru

In [56]:
filter_df.to_csv('./preprocess_data/filter_split.csv')
df.to_csv('./preprocess_data/all_split.csv')
df.dropna(subset=['street']).to_csv('./preprocess_data/filter_street.csv')
df.dropna(subset=['POI']).to_csv('./preprocess_data/filter_POI.csv')

In [53]:
df.dropna(subset=['street']).head()

,id,raw_address,POI/street,POI,street
0,0,jl kapuk timur delta sili iii lippo cika 11 a ...,/jl kapuk timur delta sili iii lippo cika,NaN,jl kapuk timur delta sili iii lippo cika
2,2,setu siung 119 rt 5 1 13880 cipayung,/siung,NaN,siung
4,4,jl. orde baru,/jl. orde baru,NaN,jl. orde baru
5,5,"raya samb gede, 299 toko bb kids",toko bb kids/raya samb gede,toko bb kids,raya samb gede
6,6,"kem mel raya, no 4 bojong rawalumbu rt 1 36 ra...",/kem mel raya,NaN,kem mel raya

In [54]:
df.dropna(subset=['POI']).head()

,id,raw_address,POI/street,POI,street
3,3,"toko dita, kertosono",toko dita/,toko dita,NaN
5,5,"raya samb gede, 299 toko bb kids",toko bb kids/raya samb gede,toko bb kids,raya samb gede
10,10,"cikahuripan sd neg boj 02 klap boj, no 5 16877",sd negeri bojong 02/klap boj,sd negeri bojong 02,klap boj
11,11,"yaya atohar,",yayasan atohariyah/,yayasan atohariyah,NaN
15,15,"kampung.gudang areng,desa:anyer, kecamatan:any...",gudang areng/,gudang areng,NaN

In [22]:
import ahocorasick
from copy import deepcopy

def _build_aho(words):
    aho = ahocorasick.Automaton()
    for idx, key in enumerate(words):
        
        aho.add_word(key, (idx, key))

    return aho

def format_data(text, poi, street):
    entities = []
    _text = deepcopy(text)
    if isinstance(poi, str):
        aho = _build_aho([poi])
        aho.make_automaton()
        latest_char_idx = 0
        for end, (_, word) in aho.iter(_text):
            start = end - len(word) + 1
            
            if start < latest_char_idx:
                continue

            entities.append([start, end + 1, 'POI'])
            _text = _text.replace(word, " " * len(word))
            latest_char_idx = end + 1
    if isinstance(street, str):
        aho = _build_aho([street])
        aho.make_automaton()
        latest_char_idx = 0

        for end, (_, word) in aho.iter(_text):
            start = end - len(word) + 1
            if start < latest_char_idx:
                continue

            entities.append([start, end + 1, 'STREET'])
            latest_char_idx = end + 1
    
    return text, entities

In [23]:
examples = []
for idx in df.index:
    try:
        row = df.loc[idx]
        text, entitie = format_data(row['raw_address'], row['POI'], row['street'])
        examples.append({"id": idx, "text": text, "entitie": entitie})
    except Exception as e:
        print(idx)
        print("-" * 50)
        print(e)
        break

NameError: name 'exampleds' is not defined

In [26]:
import json
with open('./preprocess_data/entitie.json','w') as f:
    json.dump(examples, f, indent=2)

In [28]:
split_df = pd.read_csv('./split_result.csv')
split_df.head()

,id,raw_address,POI/street,POI,street
0,0,jl kapuk timur delta sili iii lippo cika 11 a ...,/jl kapuk timur delta sili iii lippo cika,NaN,jl kapuk timur delta sili iii lippo cika
1,1,"aye, jati sampurna",/,NaN,NaN
2,2,setu siung 119 rt 5 1 13880 cipayung,/siung,NaN,siung
3,3,"toko dita, kertosono",toko dita/,toko dita,NaN
4,4,jl. orde baru,/jl. orde baru,NaN,jl. orde baru

In [44]:
def format_each_data(text, poi, street):
    entities_POI = []
    entities_STREET = []
    _text = deepcopy(text)
    
    if isinstance(poi, str):
        aho = _build_aho([poi])
        aho.make_automaton()
        latest_char_idx = 0
        
        for end, (_, word) in aho.iter(_text):
            start = end - len(word) + 1
            if start < latest_char_idx:
                continue
            entities_POI.append((start, end + 1, 'POI'))
            _text = _text.replace(word, " " * len(word))
            latest_char_idx = end + 1
    if isinstance(street, str):
        aho = _build_aho([street])
        aho.make_automaton()
        latest_char_idx = 0

        for end, (_, word) in aho.iter(_text):
            start = end - len(word) + 1
            if start < latest_char_idx:
                continue

            entities_STREET.append((start, end + 1, 'STREET'))
            latest_char_idx = end + 1
    
    return entities_POI, entities_STREET

In [45]:
POIexamples = []
STREETexamples = []
for idx in df.index:
    try:
        row = df.loc[idx]
        entities_POI, entities_STREET = format_each_data(row['raw_address'], row['POI'], row['street'])
        text = row['raw_address']
        
        
        
        if entities_POI:
            POIexamples.append({"id": idx, "text": text, "entitie": entities_POI})
            
        if entities_STREET:
            STREETexamples.append({"id": idx, "text": text, "entitie": entities_STREET})
            
            
    except Exception as e:
        print(idx)
        print("-" * 50)
        print(e)
        break

print(len(POIexamples))
print(len(STREETexamples))

75351
212178

In [46]:
print(POIexamples[:5])
print(STREETexamples[:5])

[{'id': 3, 'text': 'toko dita, kertosono', 'entitie': [(0, 9, 'POI')]}, {'id': 5, 'text': 'raya samb gede, 299 toko bb kids', 'entitie': [(20, 32, 'POI')]}, {'id': 15, 'text': 'kampung.gudang areng,desa:anyer, kecamatan:anyar, kabupaten: serang, belakang bca anyar', 'entitie': [(8, 20, 'POI')]}, {'id': 17, 'text': 'pangkalan lareh kel.ikurkoto koto panjang.kec koto tangah kota padang', 'entitie': [(0, 15, 'POI')]}, {'id': 21, 'text': 'stadion kobelete,', 'entitie': [(0, 16, 'POI')]}]
[{'id': 0, 'text': 'jl kapuk timur delta sili iii lippo cika 11 a cicau cikarang pusat', 'entitie': [(0, 40, 'STREET')]}, {'id': 2, 'text': 'setu siung 119 rt 5 1 13880 cipayung', 'entitie': [(5, 10, 'STREET')]}, {'id': 4, 'text': 'jl. orde baru', 'entitie': [(0, 13, 'STREET')]}, {'id': 5, 'text': 'raya samb gede, 299 toko bb kids', 'entitie': [(0, 14, 'STREET')]}, {'id': 6, 'text': 'kem mel raya, no 4 bojong rawalumbu rt 1 36 rawalumbu', 'entitie': [(0, 12, 'STREET')]}]

In [47]:
with open('./preprocess_data/poi_entitie.json','w') as f:
    json.dump(POIexamples, f, indent=2)
with open('./preprocess_data/street_entitie.json','w') as f:
    json.dump(STREETexamples, f, indent=2)

In [63]:
nan_value = df[df['street'].isna()]
nan_value = nan_value[nan_value['POI'].isna()]

In [64]:
nan_value.head()

    id                                     raw_address POI/street  POI street
1    1                              aye, jati sampurna        NaN  NaN    NaN
14  14         kamp utan jaya, 23 rt 3 rw 8 16433 beji        NaN  NaN    NaN
24  24                  angg raya i, jatinegara cakung        NaN  NaN    NaN
41  41  aa gallery sport pasar muara labuh sungai pagu        NaN  NaN    NaN
42  42          raya kopo babakan asih bojongloa kaler        NaN  NaN    NaN

In [65]:
nan_value.shape

(31993, 5)

In [66]:
nan_value.to_csv("./preprocess_data/no_ans.csv")

In [67]:
address = nan_value['raw_address'].to_list()

In [69]:
import random
random.sample(address, 3)

['seti, langensari kel.',
 'pluit indah no 11 the mezzanine, rt 7 6 pluit',
 'pon coklat aima,']