In [6]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

!pip install chart_studio
!pip install textstat

import numpy as np 
import pandas as pd

# Word Cloud
from wordcloud import WordCloud

# sklearn 
from sklearn.feature_extraction.text import CountVectorizer

# Pandas Profiling
from pandas_profiling import ProfileReport

# Suppress warnings 
import warnings
warnings.filterwarnings('ignore')

DEPRECATION: Python 2.7 will reach the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 won't be maintained after that date. A future version of pip will drop support for Python 2.7. More details about Python 2 support in pip, can be found at https://pip.pypa.io/en/latest/development/release-process/#python-2-support
Requirement already satisfied: chart_studio in /usr/local/lib/python2.7/site-packages (1.1.0)
Requirement already satisfied: six in /usr/local/lib/python2.7/site-packages (from chart_studio) (1.14.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python2.7/site-packages (from chart_studio) (1.3.3)
Requirement already satisfied: requests in /usr/local/lib/python2.7/site-packages (from chart_studio) (2.22.0)
Requirement already satisfied: plotly in /usr/local/lib/python2.7/site-packages (from chart_studio) (4.11.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python2.7/site-packages (from requests->chart_studio) (1.25.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python2.7/site-packages (from requests->chart_studio) (2019.11.28)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python2.7/site-packages (from requests->chart_studio) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python2.7/site-packages (from requests->chart_studio) (2.8)
DEPRECATION: Python 2.7 will reach the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 won't be maintained after that date. A future version of pip will drop support for Python 2.7. More details about Python 2 support in pip, can be found at https://pip.pypa.io/en/latest/development/release-process/#python-2-support
Requirement already satisfied: textstat in /usr/local/lib/python2.7/site-packages (0.5.7)
Requirement already satisfied: pyphen in /usr/local/lib/python2.7/site-packages (from textstat) (0.10.0)
Requirement already satisfied: repoze.lru in /usr/local/lib/python2.7/site-packages (from textstat) (0.7)

ModuleNotFoundError: No module named 'pandas_profiling'

In [17]:
df = pd.read_csv('Address Elements Extraction Dataset/train.csv')
df_test = pd.read_csv('Address Elements Extraction Dataset/test.csv')
df_test.head()

   id                                    raw_address
0   0          s. par 53 sidanegara 4 cilacap tengah
1   1          angg per, baloi indah kel. lubuk baja
2   2                          asma laun, mand imog,
3   3  ud agung rej, raya nga sri wedari karanganyar
4   4                     cut mutia, 35 baiturrahman

In [18]:
df.head()

,id,raw_address,POI/street
0,0,jl kapuk timur delta sili iii lippo cika 11 a ...,/jl kapuk timur delta sili iii lippo cika
1,1,"aye, jati sampurna",/
2,2,setu siung 119 rt 5 1 13880 cipayung,/siung
3,3,"toko dita, kertosono",toko dita/
4,4,jl. orde baru,/jl. orde baru

In [19]:
npdata = df.values
print(npdata.shape)

(300000, 3)

In [20]:
df = pd.DataFrame(df['POI/street'].str.split('/',1).tolist(),
                                 columns = ['POI','street'])

In [10]:
df.head()

         POI                                    street
0             jl kapuk timur delta sili iii lippo cika
1
2                                                siung
3  toko dita
4                                        jl. orde baru

In [13]:
df['POI'].value_counts()

                          178509
perumahan wahana             339
palm spring regency          202
indomaret                    193
lebak jero                   187
                           ...
regency, limus pratama         1
soto sesar                     1
mts swasta al-atsary           1
lukito                         1
herlin cell                    1
Name: POI, Length: 93412, dtype: int64

In [38]:
df['street'].value_counts()
# street = df.loc[df['street'] != '']['street'].value_counts()

                   70143
jend sudi           1097
ahmad yani           877
jend ahmad yani      618
gajah mada           471
                   ...
gang ilham 2           1
mbah joko sung         1
pisok ii               1
panun tar              1
sidol vi               1
Name: street, Length: 95123, dtype: int64